basePath: /api/v1
host: localhost:8080
info:
  contact:
    name: API Support
    url: http://www.swagger.io/support
  description: Restaurant Management System API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Restaurant Management API
  version: "1.0"
paths: {}
swagger: "2.0"
